<!DOCTYPE HTML>
<html>
<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Fashionpress Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="__CSS__/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="__CSS__/style.css" rel='stylesheet' type='text/css' />
    <link href='http://fonts.useso.com/css?family=Lato:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="__JS__/jquery-1.11.1.min.js"></script>
    <script src="__JS__/responsiveslides.min.js"></script>
    <script>
        $(function () {
            $("#slider").responsiveSlides({
                auto: true,
                nav: true,
                speed: 500,
                namespace: "callbacks",
                pager: true,
            });
        });
    </script>
    <script type="text/javascript" src="__JS__/hover_pack.js"></script>
</head>
<body>
<div class="header">
    <div class="header_top">
        <div class="container">
            <div class="logo">
                <a href="index.html"><img src="__IMG__/logo.png" alt=""/></a>
            </div>
            <ul class="shopping_grid">
                <a href="http://s.click.taobao.com/BaS3WWx"><li>爱淘宝</li></a>
                <a href="http://s.click.taobao.com/X96ghVx"><li>聚划算</li></a>
                <a href="http://s.click.taobao.com/yTvfhVx"><li><span class="m_1">淘宝特卖</span>&nbsp;<img src="__IMG__/bag.png" alt=""/></li></a>
                <div class="clearfix"> </div>
            </ul>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="h_menu4"><!-- start h_menu4 -->
        <div class="container">
            <a class="toggleMenu" href="#">Menu</a>
            <ul class="nav">
                <li class="active"><a href="index.html" data-hover="Home">首页</a></li>
                <li><a href="about.html" data-hover="About Us">淘宝特卖</a></li>
                <li><a href="careers.html" data-hover="Careers">9块9包邮</a></li>
                <li><a href="contact.html" data-hover="Contact Us">穿衣搭配</a></li>
                <li><a href="404.html" data-hover="Company Profile">精选单品</a></li>
                <li><a href="register.html" data-hover="Company Registration">爱淘宝</a></li>
                <li><a href="wishlist.html" data-hover="Wish List">聚划算</a></li>
            </ul>
            <script type="text/javascript" src="__JS__nav.js"></script>
        </div><!-- end h_menu4 -->
    </div>
</div>
    {__CONTENT__}
<!--<div class="footer_bg">-->
<!--</div>-->
<!--<div class="footer">-->
    <!--<div class="container">-->
        <!--<div class="col-md-3 f_grid1">-->
            <!--<h3>关于我们</h3>-->
            <!--<a href="#"><img src="__IMG__/logo.png" alt=""/></a>-->
            <!--<p>妈妈装网站是一家导购网站，借用淘宝/天猫的平台，为爸爸妈妈挑选满意的商品</p>-->
        <!--</div>-->
        <!--<div class="col-md-3 f_grid1 f_grid2">-->
            <!--<h3>Follow Us</h3>-->
            <!--<ul class="social">-->
                <!--<li><a href=""> <i class="fb"> </i><p class="m_3">Facebook</p><div class="clearfix"> </div></a></li>-->
                <!--<li><a href=""><i class="tw"> </i><p class="m_3">Twittter</p><div class="clearfix"> </div></a></li>-->
                <!--<li><a href=""><i class="google"> </i><p class="m_3">Google</p><div class="clearfix"> </div></a></li>-->
                <!--<li><a href=""><i class="instagram"> </i><p class="m_3">Instagram</p><div class="clearfix"> </div></a></li>-->
            <!--</ul>-->
        <!--</div>-->
        <!--<div class="col-md-6 f_grid3">-->
            <!--<h3>联系方式</h3>-->
            <!--<ul class="list">-->
                <!--<li><p>手机 : 13138899620</p></li>-->
                <!--<li><p>qq : 943130995</p></li>-->
                <!--<li><p>Email : <a href="mailto:info(at)fashionpress.com">mr-yangyi@outlook.com</a></p></li>-->
            <!--</ul>-->
            <!--<ul class="list1">-->
                <!--<li><p>Aliquam augue a bibendum ipsum diam, semper porttitor libero elit egestas gravida, ut quam, nunc taciti</p></li>-->
            <!--</ul>-->
            <!--<div class="clearfix"> </div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<div class="footer_bottom">
    <div class="container">
        <div class="cssmenu">
            <ul>
                <li><a href="http://s.click.taobao.com/9pDghVx">淘宝/天猫</a></li>
                <li class="active"><a href="http://s.click.taobao.com/X96ghVx">聚划算</a></li> .
                <li class="active"><a href="http://s.click.taobao.com/NIighVx">阿里旅行</a></li> .
                <li><a href="http://s.click.taobao.com/1fvtVWx">淘宝特卖</a></li> .
                <li><a href="http://s.click.taobao.com/BaS3WWx">爱淘宝</a></li> .
                <li><a href="http://s.click.taobao.com/t?e=m%3D2%26s%3Dt29T39DAnxMcQipKwQzePCperVdZeJviEViQ0P1Vf2kguMN8XjClAuLWUZBUjAimOhdZki1E67u1fVFitrT47Iy2CxZ%2FfR4X7%2FKVVelyWWhSgkhMxg%2FlBhmIkXBqRClNTcEU%2BDykfuSM%2BhtH71aX6uIOTs4KMj3yjpOyWSRdiSZDEm2YKA6YIrbIzrZDfgWtwGXLU4WXsy9VHjYc6ze3iXQfmeYHmozgLNmFwzcjFAU%3D">阿里云</a></li> .
            </ul>
        </div>
        <div class="copy">
            <p>Copyright &copy; 2016.妈妈装网站</p>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</body>
</html>