<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Add Student</title>
</head>
<body>
<form action="/Home/Student/Add?name=yangyi&pwd=123456" method="post" enctype="multipart/form-data">
    <div><span>Id</span><input type="text" name="Id"/><span></span></div>
    <div><span>Name</span><input type="text" name="Name"/> <span>{$errorInfo.Name|default:''}</span></div>
    <div><span>Gender</span><input type="text" name="Gender"/>{$errorInfo.Gender|default:''}</div>
    <div><span>Age</span><input type="text" name="Age"/>{$errorInfo.Age|default:''}</div>
    <div><span>Hobby</span>
        <input type="checkbox" name="Hobby[]" value="1"> 足球
        <input type="checkbox" name="Hobby[]" value="2"> 篮球
        <input type="checkbox" name="Hobby[]" value="3"> 排球
        <input type="checkbox" name="Hobby[]" value="4"> 羽毛球
        <span>{$errorInfo.Hobby}</span>
    </div>
    <div><input type="submit" value="submit"/></div>

</form>
</body>
</html>